version: "2"

services:
  gem: &default
    build: .
    working_dir: $PWD
    volumes:
      # in dev/test the nib binstub points to this path
      - .:/usr/src/app
      # for running integration specs
      - $PWD:$PWD
      - /var/run/docker.sock:/var/run/docker.sock
      # for purposes of release
      - $HOME/.ssh:/root/.ssh
      - $HOME/.gitconfig:/root/.gitconfig
      - $HOME/.gem/credentials:/root/.gem/credentials

  ci:
    <<: *default
    command: bin/ci
    working_dir: /usr/src/app
    volumes: []
    # https://git.io/vSJF6
    environment:
      CODECLIMATE_REPO_TOKEN: $CODECLIMATE_REPO_TOKEN
      CIRCLECI: $CIRCLECI
      CIRCLE_BUILD_NUM: $CIRCLE_BUILD_NUM
      CIRCLE_BRANCH: $CIRCLE_BRANCH
      CIRCLE_SHA1: $CIRCLE_SHA1
